.THIS{
     margin: 10px 20px; 
     padding:15px 10px 15px 15px;
     width:90%;
     align:center;
     
    -moz-border-radius-bottomleft:7px;
    -webkit-border-bottom-left-radius:7px;
    border-bottom-left-radius:7px;
    
    -moz-border-radius-bottomright:7px;
    -webkit-border-bottom-right-radius:7px;
    border-bottom-right-radius:7px;
    
    -moz-border-radius-topright:7px;
    -webkit-border-top-right-radius:7px;
    border-top-right-radius:7px;
    
    -moz-border-radius-topleft:7px;
    -webkit-border-top-left-radius:7px;
    border-top-left-radius:7px;
    
}

.THIS.Success{
     background-color:#ebf7ed; 
     color:#000000;
    border:1px solid #39b54a; 
}

.THIS.Information{
     background-color:#e5f1f6; 
     color:#000000;
     border:1px solid #317cb9; 
}

.THIS.Warning{
     background-color:#fffccd; 
     color:#000000;
     border:1px solid #e5de7d; 
}

.THIS.Error{
     background-color:#fef3f4; 
     color:#000000;
     border:1px solid #ed1c24; 
}