.THIS{
     margin: 10px 20px; 
     padding:10px 10px 20px 10px;
     width:100%;
     position:relative;left:-20px;
     align:center;
     
    -moz-border-radius-bottomleft:7px;
    -webkit-border-bottom-left-radius:7px;
    border-bottom-left-radius:7px;
    
    -moz-border-radius-bottomright:7px;
    -webkit-border-bottom-right-radius:7px;
    border-bottom-right-radius:7px;
    
    -moz-border-radius-topright:7px;
    -webkit-border-top-right-radius:7px;
    border-top-right-radius:7px;
    
    -moz-border-radius-topleft:7px;
    -webkit-border-top-left-radius:7px;
    border-top-left-radius:7px;
    
}

.THIS.loginBox1 {
     background-color:#ffffff; 
     color:#444444;
     border:1px solid #e5de7d;
    
    font-size: 15px;
    font-family: Lato;
    font-weight: normal;
}