.THIS{
     margin: 10px 20px; 
     padding:15px 10px 15px 15px;
     width:40%;
     align:center;
     
    -moz-border-radius-bottomleft:7px;
    -webkit-border-bottom-left-radius:7px;
    border-bottom-left-radius:7px;
    
    -moz-border-radius-bottomright:7px;
    -webkit-border-bottom-right-radius:7px;
    border-bottom-right-radius:7px;
    
    -moz-border-radius-topright:7px;
    -webkit-border-top-right-radius:7px;
    border-top-right-radius:7px;
    
    -moz-border-radius-topleft:7px;
    -webkit-border-top-left-radius:7px;
    border-top-left-radius:7px;
    
}
.THIS.CustSupportRedirect {
     background-color:#fffccd; 
     color:#000000;
     border:1px solid #e5de7d;
    
    font-size: 14px;
    font-family: Lato;
    font-weight: normal;
    visibility: hidden
}