<apex:page standardController="Apttus__APTS_Agreement__c" 
           extensions="ProcessPath" >
 <apex:pageMessages />
<!-- Lightning Design System Source -->
<apex:stylesheet value="{!URLFOR($Resource.LDS, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<style type="text/css">
.slds .slds-tabs--path__item {
    overflow: hidden;
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 10rem;
    text-align: center;
    perspective: 500;
    transition: transform 0.1s ease-in-out, background-color 0.1s linear;
}


 .path__item {
    overflow: hidden;
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 10rem;
    text-align: center;
    perspective: 500;
    transition: transform 0.1s ease-in-out, background-color 0.1s linear;
}
  </style>

<!-- HTML Tag with xmlns attribute Important to Render SLDS Icons -->
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
 
    <div class="slds">
        <div class="slds-grid">
            <div class="slds-tabs--path slds-tabs--path__content" role="application">
<!--Sales Path Content UL-->
                <ul class="slds-tabs--path__nav" role="tablist" id="TheLis">
                       
                </ul>
            </div>
         </div>
         <!--hema added-->
         <!-- <div class="slds-coach__keys slds-size--1-of-2 slds-m-left--x-large">
        <div class="slds-grid slds-grid--align-spread">
          <h2 class="slds-text-title--caps slds-p-bottom--small">Key Fields This Stage</h2>
          <span class="slds-text-body--small"><a href="javascript:void(0);">Edit</a></span>
        </div>
        <dl class="slds-dl--horizontal">
          <dt class="slds-coach__item slds-dl--horizontal__label">Build State</dt>
          <dd class="slds-coach__value slds-dl--horizontal__detail">In Motion</dd>
          <dt class="slds-coach__item slds-dl--horizontal__label">Expected Sign Date</dt>
          <dd class="slds-coach__value slds-dl--horizontal__detail">-</dd>
          <dt class="slds-coach__item slds-dl--horizontal__label">Key Buyer</dt>
          <dd class="slds-coach__value slds-dl--horizontal__detail"><a href="javascript:void(0);">-</a></dd>
        </dl>
      </div>-->
      

          <div class="slds-coach__guidance slds-size--1-of-2 slds-m-left--x-large" style="{!IF(displayGuidancetext, 'display:block', 'display:none')}" width="150">
            <h2 class="slds-text-title--caps slds-p-bottom--small slds-has-divider--bottom" style="{!IF(displayGuidancetext, 'display:block', 'display:none')}" width="150" >Guidance for Success </h2>
            <div class="slds-text-longform slds-p-top--medium" style="{!IF(displayGuidancetext, 'display:block', 'display:none')}">
              <p>  {!guidancetext}</p>
            </div>
          </div>
         <!--Hema Added end-->
    </div>   
</html>  
      
  <script>
  var j$ = jQuery.noConflict();
//Object Picklist Values From Apex
      var picArr = {!opts};
      var picArrLen = picArr.length;
//Current Record Picklist Value
      var CurrentStg = '{!currentStatus}';
      
//Checking The Current Picklist Value Against All The Picklist Values
      var CurrentStgPos = picArr.indexOf(CurrentStg);
      var theiLis = '';
   
//Creating the Sale Path Content based on the Record's Picklist Value 
      for(var i=0; i<picArrLen; i++){
  
// HTML Content For Completed Stages           
          if(CurrentStgPos > i){
               theiLis += '<li class="slds-tabs--path__item slds-is-complete " role="presentation">'+
        '<a class="slds-tabs--path__link" id="tabs-path-1" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="#void" aria-live="assertive">'+
          '<span class="slds-tabs--path__stage"  >'+
            '<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!$Resource.LDS}/assets/icons/utility-sprite/svg/symbols.svg#check"></use></svg></span>'+
            '<span class="slds-tabs--path__title" >'+picArr[i]+'</span></a></li>' 
                
          }
// HTML Content For Current Stage  
            else if(CurrentStgPos == i){
// HTML Content If Current Stage is Last Stage             
              if(i == picArrLen-1){
                  theiLis += '<li class="slds-tabs--path__item slds-is-complete" role="presentation">'+
        '<a class="slds-tabs--path__link" id="tabs-path-1" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="#void" aria-live="assertive">'+
          '<span class="slds-tabs--path__stage" >'+
            '<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!$Resource.LDS}/assets/icons/utility-sprite/svg/symbols.svg#check"></use></svg></span>'+
            '<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>' 
              } 
// HTML Content If Current Stage is Not Last Stage
              else{
                  
                  theiLis += '<li class="slds-tabs--path__item slds-is-current" role="presentation">'+
        '<a class="slds-tabs--path__link" id="tabs-path-1" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="#void" aria-live="assertive">'+
          '<span class="slds-tabs--path__stage">'+
            '<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!$Resource.LDS}/assets/icons/utility-sprite/svg/symbols.svg#check"></use></svg></span>'+
            '<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>' 
                  
              }
              
          }
// HTML Content For Next Stages
             else if(CurrentStgPos < i){
              
          theiLis += '<li class="slds-tabs--path__item slds-is-incomplete" role="presentation">'+
        '<a class="slds-tabs--path__link" id="tabs-path-1" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="#void" aria-live="assertive">'+
          '<span class="slds-tabs--path__stage">'+
            '<svg aria-hidden="true" class="slds-icon slds-icon--x-small"><use xlink:href="{!$Resource.LDS}/assets/icons/utility-sprite/svg/symbols.svg#check"></use></svg></span>'+
            '<span class="slds-tabs--path__title">'+picArr[i]+'</span></a></li>' 
            }
      }
      
//Adding The Created Sales Path Content To Sales Path Body    
   j$('#TheLis').html(theiLis);
           
  </script> 
           
</apex:page>