.THIS .slds-m-left_xx-large {
    margin-left: 2rem;
}
.THIS .btnMrgn {
    margin-left:86%;
}
.THIS .slds-cutsom-popover{
    position: relative;
    border-radius: .25rem;
    width: 40rem;
    min-height: 2rem;
    z-index: 6000;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    border: 1px solid #e0730e;
}
.THIS .slds-caseMessages {
    width:43rem;
}
.THIS .slds-avatars {
    width:9%
}
.THIS .slds-custom-margin {
    margin-left:-15%
}

.THIS .slds-custom-margin-left {
    margin-left:4%;
    width:9%;
}
.THIS .slds-custom-margin-left1 {
    margin-left:62%;
    width:9%;
}
.THIS .slds-custom-right-margin {
    margin-right:10%
}
.THIS .slds-custom-right-margin {
    margin-right:10%
}
.THIS .slds-custom-left-margin {
    margin-left:-5%;
}