.THIS.abtlikebox{
     background-color: #aaaaaa; background-repeat: no-repeat scroll left center transparent !important; float: right;height: 155px;border-radius: 15px;padding: 0 5px 0 46px;width: 225px;z-index:  99999;position:fixed;right:-190px;top:35%;border:2px solid #FF7519;box-shadow: -2px -2px 15px #888;
 }
.THIS.abtlikebox div{ padding: 0; margin-right:-8px; border:4px solid  #3b5998; background:#fafafa;}
.THIS.abtlikebox span{bottom: 0px;font: 12px "arial",tahoma,verdana,arial,sans-serif;position: absolute;text-align: left;z-index: 99999;}
.THIS.abtlikebox span a{color: orange;text-decoration:none;}
.THIS.abtlikebox span a:hover{text-decoration:underline;}