.THIS.uiButton {
 color: #FFF;
  background: #1f9aa2; 
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-family: Lato;
  font-weight: bold;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 60px 10px 60px;
  text-decoration: none;    
}
.THIS.uiButton:hover  {
      background: #1C8087;
  text-decoration: none;
}